@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');

:root{
    --main-bg-clr : brown;
    --font1 :  'Ubuntu', sans-serif;
    --font2 :  'Roboto', sans-serif;
    --font3 : 'Baloo Bhaina 2', cursive;
}

.foot1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.font3{
    font-family: var(--font3);
}

.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.date{
    margin-top: 10px;
}
